@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&display=swap');

.skillsContainer{
    background: linear-gradient(180deg,#161927, #1e5a68);
    width: 100%;
    height: 100%;
}