@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&display=swap');
.navbar{
    height: 100px;
}

.navcontents a{
    font-family: 'Geologica', sans-serif;
    color: white;
    font-size: 20px;
    text-decoration: none;
    position: relative;
    margin-left: 1ch;
    top: 30px;
    left: 125ch;
}